api_key = ''
base_url = ''
QWEN_MODEL_ID = ''


zhipu_api_key = ''
zhipu_base_url = ''
zhipu_module_id = ''

gitee_api_key = ''
gitee_base_url = ''

TAVILY_API_KEY = ''
SERPAPI_API_KEY1 = ''
SERPAPI_API_KEY = ''

MYSQL_PASSWORD = ''
MYSQL_DATABASE = ''

MONGO_URI = 'localhost:27017'

EXCHANGE_RATE_API_KEY = ''