LLM_API_KEY=''
LLM_BASE_URL=''
LLM_MODEL_ID=''

zhipu_api_key=''
zhipu_base_url=''
zhipu_module_id=''

TAVILY_API_KEY=''
SERPAPI_API_KEY=''
MONGO_URI='mongodb://localhost:27017'
EXCHANGE_RATE_API_KEY=''
